In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 
import seaborn as sns

In [2]:
# for start_index in range(0, total_size, batch_size_count):

### Data used for prediction

In [3]:
df = pd.read_csv("USA_Housing.csv")

In [4]:
df

,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Price,Unnamed: 4
0,5.682861,7.009188,4.09,1.059034e+06,NaN
1,6.002900,6.730821,3.09,1.505891e+06,NaN
2,5.865890,8.512727,5.13,1.058988e+06,NaN
3,7.188236,5.586729,3.26,1.260617e+06,NaN
4,5.040555,7.839388,4.23,6.309435e+05,NaN
...,...,...,...,...,...
4995,7.830362,6.137356,3.46,1.060194e+06,NaN
4996,6.999135,6.576763,4.02,1.482618e+06,NaN
4997,7.250591,4.805081,2.13,1.030730e+06,NaN
4998,5.534388,7.130144,5.44,1.198657e+06,NaN
4999,5.992305,6.792336,4.07,1.298950e+06,NaN

### Initializing variables

In [16]:
y = df['Price'].to_list()
x1 = df['Avg. Area House Age'].to_numpy(copy=True)     
x2 = df['Avg. Area Number of Rooms'].to_numpy(copy=True)
x3 = df['Avg. Area Number of Bedrooms'].to_numpy(copy=True)
m = 0
c = 0
n = float(len(y))
L = 0.0001
epoch = 1000

# prediction
y1 = np.array([])
y2 = np.array([])
y3 = np.array([])

y_prime = np.array([])
m1 = 0
m2 = 0
m3 = 0

m1_new = 0
m2_new = 0
m3_new = 0


c  = 0
c_new = 0


loss = np.array([])

In [17]:

#      r_m1 = round(m1 , 2)
#      r_m2 = round(m2 , 2)
#      r_m3 = round(m3 , 2)
     
#      r_c  = round(c , 2)
#      r_c_new = round(c_new , 2)
     
#      r_Dm1 = round(Dm1 , 2)
#      r_Dm2 = round(Dm2 , 2)
#      r_Dm3 = round(Dm3 , 2)
        
#      r_loss = round(loss , 2)
    
#      r_m1_new = round(m1_new , 2)
#      r_m2_new = round(m2_new , 2)
#      r_m3_new = round(m3_new , 2)

In [18]:
type(c)

int

In [24]:
loss1 = np.array([])
for i in range(epoch):
     y_prime = (m1*x1) + (m2*x2) + (m3*x3) + c
     
     loss = (sum((y - y_prime)**2))/n
     np.append(loss1,loss)
     Dm1 = (2/n) * sum(y-y_prime)*(x1)   
     Dm2 = (2/n) * sum(y-y_prime)*(x2)
     Dm3 = (2/n) * sum(y-y_prime)*(x3)
        
     Dc  = (2/n) * sum(y-y_prime)*(-1)   
        
     m1_new = m - (Dm1*L)
     m2_new = m - (Dm2*L)
     m3_new = m - (Dm3*L)
     
     c_new =  c - (Dc*L)
    
     m1 = m1_new
     m2 = m2_new
     m3 = m3_new
    
     c = c_new
     
     if(c.any() == c_new.any() and m1.any() == m1_new.any() and m2.any() == m2_new.any() and m3.any() == m3_new.any()):
        break
     if(loss == 0 and Dm1 == 0 and Dm2 == 0 and Dm3 == 0 and Dc == 0):
        break

In [25]:
loss1

array([], dtype=float64)