In [1]:
import pandas as pd
import numpy as np 
from sklearn.datasets import load_iris

In [11]:
iris = load_iris()

In [13]:
df = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [61]:
df.shape

(150, 5)

In [67]:
df.iloc[:,:]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [68]:
from sklearn.model_selection import train_test_split
X = df.iloc[:,0:4]
y = df.iloc[:,4]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [69]:
y_train

96     1.0
105    2.0
66     1.0
0      0.0
122    2.0
      ...
71     1.0
106    2.0
14     0.0
92     1.0
102    2.0
Name: target, Length: 100, dtype: float64

In [78]:
lsepal_std = X_train.iloc[:,0].std()
wsepal_std = X_train.iloc[:,1].std()
lpetal_std = X_train.iloc[:,2].std()
wpetal_std = X_train.iloc[:,3].std()

In [74]:
lsepal_mean = X_train.iloc[:,0].mean()
wsepal_mean = X_train.iloc[:,1].mean()
lpetal_mean = X_train.iloc[:,2].mean()
wpetal_mean = X_train.iloc[:,3].mean()

In [81]:
e = np.exp(-1/2)
pi = np.pi
x = np.sqrt(2*pi)

In [82]:
y1= 1/(lsepal_std * x)
y2= 1/(wsepal_std * x)
y3= 1/(lpetal_std * x)
y4= 1/(wpetal_std * x) 

a1 = sum((df.iloc[:,0]-lsepal_mean)/lsepal_std)
a2 = sum((df.iloc[:,1]-wsepal_mean)/wsepal_std)
a3 = sum((df.iloc[:,2]-lpetal_mean)/lpetal_std)
a4 = sum((df.iloc[:,3]-wpetal_mean)/wpetal_std)

a1 = a1**2
a2 = a2**2
a3 = a3**2
a4 = a4**2

x1 = e*a1
x2 = e*a2
x3 = e*a3
x4 = e*a4


z1 = y1 * x1 
z2 = y2 * x2 
z3 = y3 * x3 
z4 = y4 * x4

In [107]:
z1

7.497116516355342

In [104]:
y_train.value_counts()

1.0    35
2.0    34
0.0    31
Name: target, dtype: int64

In [111]:
prob1=y_train.value_counts()[1]/len(y_train)
prob2=y_train.value_counts()[2]/len(y_train)
prob3=y_train.value_counts()[0]/len(y_train)

In [84]:
pi

3.141592653589793

In [113]:
cummulative_prob = z1*z2*z3*z4*prob1*prob2*prob3
prob_A = z1*z2*z3*z4*prob1
prob_B = z1*z2*z3*z4*prob2
prob_C = z1*z2*z3*z4*prob3

In [114]:
print(cummulative_prob,',',prob_A,',',prob_B,',',prob_C)

769.7650877694432 , 7303.274077508949 , 7094.609103865837 , 6468.614182936498